/* Sidebar.css */

.sidebar-container {
  width: 180px;
  height: 100vh;
  background-color: #363a41;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar-menu-item {
  padding-left: 10px;
  padding-bottom: 10px;
  color: #bebebe;
  text-decoration: none;
  display: block;
  border-radius: 4px;
  margin-bottom: 5px;
}

.sidebar-menu-item:hover,
.sidebar-menu-item.active {
  background-color: #292b30;
}

.menu-item {
  margin-left: 0.5rem;
}

/* Si quieres agregar un logo en la parte superior del Sidebar */
.sidebar-logo {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.sidebar-logo img {
  max-width: 100%;
  margin-right: 50px;
  height: auto;
}

.sidebarLink {
  text-decoration: none;
  color: black;
}

.header-search {
  text-align: center;
}
